body
{
    background-color: black;
    color: white;
    font-family: Verdana;
}
#start
{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
   animation: forwards 1.5s start;
    z-index: 5;
}
@keyframes start
{
    0% {height: 100%;}
    100% {height: 0%;}
}
header
{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
}
header>section
{
    font-size: 70px;
    line-height: 300px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
header h2
{
    font-size: 30px;
    line-height: 60px;
}
nav
{
    background-color: blue;
    width: 60%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}
nav i
{
    font-size: 120px;
    color: white;
}
nav div
{
    font-weight: bold;
    text-align: center;
    width: 25%;
    float: left;
}
nav p
{
    display: none;
}
@keyframes animacja2
{
    0% {display: none;}
    100% {display: block;}
}
